// custom variable values
$primary: #fd6e0a;
$secondary: #15295f;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "supportingLighter": #fdf8f7,
  "supportingLight": #fdf8f7,
  "supporting": #ff4e6e,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//custom buttons
$btn-border-radius: 50rem;
$btn-padding-x: 1.6rem;
$btn-padding-y: 0.7rem;
$btn-border-width: 2px;

// custom display font sizes
$custom-display-font-sizes: (
  0: 7rem,
);

// merge the maps to add new theme colors
$display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-circle {
  border-radius: 50%;
  outline: none;
  border: none;
  background: $primary;
  color: white;
}

// Carousel
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-disabled {
  background: #e2e1e1;
  color: #777676;
}
