$primary: #fd6e0a;
$secondary: #15295f;

$font-size-base: 0.8rem;

$shadow-custom-lg: 0 0 2.5rem rgba(0, 0, 0, 0.085);

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-spacers: (
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
);

$spacers: map-merge($custom-spacers, $spacers);

$custom-theme-colors: (
  "supportingLighter": #fdf8f7,
  "supportingLight": #fdf8f7,
  "supporting": #ff4e6e,
  "supportingDark": #1f1d2b,
  "star": $yellow-500,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$btn-border-radius: 50rem;
$btn-padding-x: 1.6rem;
$btn-padding-y: 0.7rem;
$btn-border-width: 2px;

$custom-display-font-sizes: (
  0: 7rem,
  7: 2rem,
  8: 1.5rem,
  9: 1.1rem,
);

$display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);

.shadow-sm-none {
  box-shadow: none;
}

.shadow-custom-lg-lg {
  box-shadow: none;
}

.position-xl-relative {
  position: static;
}

.-mt-ex {
  margin: auto;
}

.w-85-xl {
  width: 100%;
}

.mw-lg {
  max-width: auto;
}

.navbar-nav .nav-item .nav-link {
  color: $secondary;
  font-weight: 600;
  &.active {
    color: $primary;
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .rounded-pill-sm {
    border-radius: $border-radius-pill;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .rounded-start-pill-md {
    border-radius: $border-radius-pill 0 0 $border-radius-pill;
  }

  .rounded-end-pill-md {
    border-radius: 0 $border-radius-pill $border-radius-pill 0;
  }
  .rounded-pill-md {
    border-radius: $border-radius-pill;
  }

  .shadow-md-none {
    box-shadow: none !important;
  }

  .shadow-custom-md-lg {
    box-shadow: $shadow-custom-lg;
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .-mt-ex {
    margin-top: -3rem;
  }

  .position-xl-relative {
    position: relative;
  }

  .w-85-xl {
    width: 85%;
  }

  .mw-lg {
    // width: fit-content;
    max-width: 960px;
  }
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.shadow-custom {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-custom-lg {
  box-shadow: $shadow-custom-lg;
}

.sw-btn-next > svg,
.sw-btn-prev > svg {
  color: $primary;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-disabled > svg {
  color: #c3c1c1;
}

.circle-img-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.form-control {
  border-radius: 0;
  border: 2px solid rgb(190, 190, 190, 0.2);
}

.equal-flex-items {
  flex: 1 1 0;
}

.btn {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.size-circle-icon {
  width: 3rem;
  height: 3rem;
}

.size-circle-icon-lg {
  width: 4rem;
  height: 4rem;
}
