// custom variable values
$primary: #fd6e0a;
$secondary: #15295f;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/utilities";

// $utilities: map-merge(
//   $utilities,
//   (
//     "rounded-start-pill": (
//       property: border-top-right-radius border-bottom-right-radius,
//       class: rounded-start-pill,
//       values: (
//         sm: 0,
//         md: var(--#{$prefix}border-radius-pill),
//       ),
//     ),
//     "rounded-end-pill": (
//       property: border-top-left-radius border-bottom-left-radius,
//       class: rounded-end-pill,
//       values: (
//         sm: 0,
//         md: var(--#{$prefix}border-radius-pill),
//       ),
//     ),
//   )
// );

// @import "../node_modules/bootstrap/scss/utilities/api";

// custom theme colours
$custom-theme-colors: (
  "supportingLighter": #fdf8f7,
  "supportingLight": #fdf8f7,
  "supporting": #ff4e6e,
  "supportingDark": #1f1d2b,
  "star": $yellow-500,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//custom buttons
$btn-border-radius: 50rem;
$btn-padding-x: 1.6rem;
$btn-padding-y: 0.7rem;
$btn-border-width: 2px;

// custom display font sizes
$custom-display-font-sizes: (
  0: 7rem,
  7: 2rem,
  8: 1.5rem,
);

// merge the maps to add new theme colors
$display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .rounded-pill-sm {
    border-radius: $border-radius-pill;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .rounded-start-pill-md {
    border-radius: $border-radius-pill 0 0 $border-radius-pill;
  }

  .rounded-end-pill-md {
    border-radius: 0 $border-radius-pill $border-radius-pill 0;
  }
}
// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.shadow-custom {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.sw-btn-next > svg,
.sw-btn-prev > svg {
  color: $primary;
}

// Carousel
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  // background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.swiper-button-disabled > svg {
  color: #c3c1c1;
}

.circle-img-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  // object-fit: cover;
}

.form-control {
  border-radius: 0;
  border: 2px solid rgb(190, 190, 190, 0.2);
}

.equal-flex-items {
  flex: 1 1 0;
}

// .rounded-start-pill {
//   border-radius: 0 50rem 50rem 0;
// }

// .rounded-end-pill {
//   border-radius: 50rem 0 0 50rem;
// }
