$primary: #fd6e0a;
$primary-dark: #e58746;
$secondary: #15295f;
$secondary-regular-dark: #21262d;
$secondary-semi-dark: #141414;
$supporting-dark: #1f1d2b;

$font-size-base: 0.8rem;

$shadow-custom-lg: 0 0 2.5rem rgba(0, 0, 0, 0.085);

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$custom-font-sizes: (
  7: $font-size-base - 0.1,
);

$font-sizes: map-merge($custom-font-sizes, $font-sizes);

$custom-spacers: (
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
);

$spacers: map-merge($custom-spacers, $spacers);

$custom-theme-colors: (
  "supporting-extra-light": #fff,
  "supporting-lighter": #fdf8f7,
  "supporting-light": #fdf8f7,
  "supporting": #ff4e6e,
  "supporting-dark": $supporting-dark,
  "star": $yellow-500,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$supporting-lighter-bg-dark: "black";
$supporting-light-bg-dark: "black";
$supporting-bg-dark: "black";
$supporting-dark-bg-dark: "black";

$btn-border-radius: 50rem;
$btn-padding-x: 1.6rem;
$btn-padding-y: 0.7rem;
$btn-border-width: 2px;

$custom-display-font-sizes: (
  0: 7rem,
  7: 2rem,
  8: 1.5rem,
  9: 1.1rem,
);

$display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);

.shadow-sm-none {
  box-shadow: none;
}

.shadow-custom-lg-lg {
  box-shadow: none;
}

.position-xl-relative {
  position: static;
}

.-mt-ex {
  margin: auto;
}

.w-85-xl {
  width: 100%;
}

.mw-lg {
  max-width: auto;
}

.navbar-nav .nav-item .nav-link {
  color: $secondary;
  font-weight: 600;
  &.active {
    color: $primary;
  }
}

[data-bs-theme="dark"] .navbar-nav .nav-item .nav-link {
  color: $white;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .rounded-pill-sm {
    border-radius: $border-radius-pill;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .rounded-start-pill-md {
    border-radius: $border-radius-pill 0 0 $border-radius-pill;
  }

  .rounded-end-pill-md {
    border-radius: 0 $border-radius-pill $border-radius-pill 0;
  }
  .rounded-pill-md {
    border-radius: $border-radius-pill;
  }

  .shadow-md-none {
    box-shadow: none !important;
  }

  .shadow-custom-md-lg {
    box-shadow: $shadow-custom-lg;
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .-mt-ex {
    margin-top: -3rem;
  }

  .position-xl-relative {
    position: relative;
  }

  .w-85-xl {
    width: 85%;
  }

  .mw-lg {
    max-width: 960px;
  }
}

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

[data-bs-theme="dark"] {
  --bs-primary: $primary-dark;
  --bs-primary-rgb: #{to-rgb($primary-dark)};

  --bs-primary-text-emphasis: $primary-dark;
  --bs-primary-text-emphasis-rgb: #{to-rgb($primary-dark)};

  --bs-supporting-lighter: $secondary-regular-dark;
  --bs-supporting-lighter-rgb: #{to-rgb($secondary-regular-dark)};

  --bs-supporting-light: $supporting-dark;
  --bs-supporting-light-rgb: #{to-rgb($supporting-dark)};

  --bs-supporting: $secondary-semi-dark;
  --bs-supporting-rgb: #{to-rgb($secondary-semi-dark)};

  --bs-light: $secondary-semi-dark;
  --bs-light-rgb: #{to-rgb($secondary-semi-dark)};

  --bs-supporting-extra-light: #272727;
  --bs-supporting-extra-light-rgb: #{to-rgb(#272727)};

  --bs-secondary: $white;
  --bs-secondary-rgb: #{to-rgb($white)};

  --bs-supporting-dark-text: $white;
  --bs-supporting-dark-rgb-text: #{to-rgb($white)};

  --bs-black-rgb: $white;
  --bs-black-rgb: #{to-rgb($white)};

  .sw-btn-next > svg,
  .sw-btn-prev > svg {
    color: $primary-dark;
  }

  .swiper-button-disabled > svg {
    color: #c3c1c1;
  }

  .btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #e58746;
    --bs-btn-border-color: #e58746;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #e58746;
    --bs-btn-hover-border-color: #e58746;
    --bs-btn-focus-shadow-rgb: 215, 94, 9;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e58746;
    --bs-btn-active-border-color: #e58746;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #e58746;
    --bs-btn-disabled-border-color: #e58746;
  }

  .btn-outline-primary {
    --bs-btn-color: #e58746;
    --bs-btn-border-color: #e58746;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #e58746;
    --bs-btn-hover-border-color: #e58746;
    --bs-btn-focus-shadow-rgb: 253, 110, 10;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e58746;
    --bs-btn-active-border-color: #e58746;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #e58746;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e58746;
    --bs-gradient: none;
  }

  .btn-outline-secondary {
    --bs-btn-color: $gray-500;
    --bs-btn-border-color: ;
    --bs-btn-hover-color: $gray-500;
    --bs-btn-hover-bg: $gray-500;
    --bs-btn-hover-border-color: $gray-500;
    --bs-btn-focus-shadow-rgb: 21, 41, 95;
    --bs-btn-active-color: $gray-500;
    --bs-btn-active-bg: $gray-500;
    --bs-btn-active-border-color: $gray-500;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $gray-500;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: $gray-500;
    --bs-gradient: none;
  }

  .text-bg-primary {
    background-color: #e58746 !important;
  }

  .pills {
    box-shadow: none;
    .pill {
      background-color: $supporting-dark;
    }
  }
}

.pills {
  .pill {
    background-color: $white;
  }
}

.shadow-custom {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-custom-lg {
  box-shadow: $shadow-custom-lg;
}

.sw-btn-next > svg,
.sw-btn-prev > svg {
  color: $primary;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-disabled > svg {
  color: #c3c1c1;
}

.circle-img-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.form-control {
  border-radius: 0;
  border: 2px solid rgb(190, 190, 190, 0.2);
}

.equal-flex-items {
  flex: 1 1 0;
}

.btn {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.size-circle-icon {
  width: 3rem;
  height: 3rem;
}

.size-circle-icon-lg {
  width: 4rem;
  height: 4rem;
}

#blogModal ul {
  list-style-position: inside;

  li {
    align-items: center;
  }
  li::marker {
    color: #d7d7d7;
  }
}

.modal-close-btn {
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.8;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-menu {
  --bs-dropdown-min-width: 5rem;
}
